{# This template is used as an ACF-block #}

<footer id="{{ b_prop.anchor }}" class="footer bg-illu-bottom hidden-animate">

    <!--googleoff: index-->
    <div class="bg">
        <img src="{{ theme.link }}/assets/static/svg/illu-dark.svg" alt="{{ __('Image décorative', 'Non-editable strings') }}">
    </div>
    <!--googleon: index-->
    

    <div class="wrapper" itemscope itemtype="http://schema.org/LocalBusiness">
        <div class="col-lg-left">
            {% set title_group = b.title %}
            {% include 'elements/h2-title.twig' %}

            {% if g.schedule %}
            <ul class="schedule">
                {% for item in g.schedule %}
                <li class="schedule-item">
                    <p>
                        <strong>{{ item.day }}</strong>
                        <span>{{ item.time }}</span>
                    </p>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            
            <div class="footer-map">
                {{ g.map }}
            </div>
        </div>
        <div class="col-lg-right">
            <h3>{{ g.form_title }}</h3>
            {% set form_id = "footer-form" %}
            {% include 'elements/contact-form.twig' %}

            <div class="btn-group">
                {% if g.email %}
                <a class="btn btn-lg" itemprop="email" href="tel:{{ g.email }}">
                    <span>{% include 'assets/static/icons/contact/email.svg' %}</span>
                    {{ g.email }}
                </a>
                {% endif %}

                {% if g.phone %}
                <a class="btn btn-lg" itemprop="telephone" href="tel:{{ g.phone }}">
                    <span>{% include 'assets/static/icons/contact/phone.svg' %}</span>
                    {{ g.phone }}
                </a>
                {% endif %}

                {% if g.address %}
                    {% if g.itinirary %}
                    <a class="btn btn-lg" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" href="{{ g.itinirary }}">
                    {% else %}
                    <span class="btn btn-lg" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    {% endif %}

                        <span>{% include 'assets/static/icons/contact/address.svg' %}</span>
                        {{ g.address }}

                    {% if g.itinirary %}
                    </a>
                    {% else %}
                    </span>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="wrapper footer-bottom">
        <p>© {{ "now"|date('Y') }} - {{ g.name }} - Tous droits réservés</p>
        <p>
            {% set link = g.legal_notice_link %}
            {% if link %}
            <a target="{{ link.target }}" href="{{ link.url }}">{{ link.title }}</a>
            {% endif %}

            {% set link = g.privacy_policy_link %}
            {% if link %}
            <a target="{{ link.target }}" href="{{ link.url }}">{{ link.title }}</a>
            {% endif %}
        </p>
    </div>
</footer>
{{ function('wp_footer') }}
