{% set bg = b_prop.backgroundColor ? " bg-" ~ b_prop.backgroundColor : "" %}
{% set separation = b.options.separation ? " sep sep-" ~ b.options.separation : "" %}

<section {% if b_prop.anchor %} id="{{ b_prop.anchor }}"{% endif %} class="{{ b_prop.name|replace({'acf/': '', '-' : '_'}) }}{% if b_prop.className %} {{ b_prop.className }}{% endif %}{{ bg }}{{ separation }} hidden-animate">

    {% if bg %}
    <!--googleoff: index-->
    <div class="bg">
        <img src="{{ theme.link }}/assets/static/svg/illu-dark.svg" alt="{{ __('Image décorative', 'Non-editable strings') }}">
    </div>
    <!--googleon: index-->
    {% endif %}

    {% block content %} <p>Please insert content in you block.</p> {% endblock %}
</section>

{% set bg = null %}