<form id="{{ form_id }}" class="form form--loaded" action="{{ theme.link }}/send_form.php" method="post">
    
    <div class="form-field form-field--half required">
        <label for="{{ form_id }}-name">{{ __('Nom et prénom', 'Non-editable strings') }}</label>
        <input autocomplete="off" type="text" name="name" id="{{ form_id }}-name">
    </div>

    <div class="form-field form-field--half required">
        <label for="{{ form_id }}-email">{{ __('Email', 'Non-editable strings') }}</label>
        <input autocomplete="off" type="text" name="email" id="{{ form_id }}-email">
    </div>


    <div class="form-field form-field--half required">
        <label for="{{ form_id }}-phone">{{ __('Téléphone', 'Non-editable strings') }}</label>
        <input type="text" name="phone" id="{{ form_id }}-phone">
    </div>

    <div class="form-field form-field--half required">
        <label for="{{ form_id }}-people-count">{{ __('Nombre de personnes', 'Non-editable strings') }}</label>
        <input type="number" name="people-count" id="{{ form_id }}-people-count">
    </div>


    <div class="form-field form-field--half required">
        <label for="{{ form_id }}-date">{{ __('Date de réservation', 'Non-editable strings') }}</label>
        <input type="date" name="date" id="{{ form_id }}-date">
    </div>

    <div class="form-field form-field--half required">
        <label for="{{ form_id }}-time">{{ __('Heure de réservation', 'Non-editable strings') }}</label>
        <input type="time" name="time" id="{{ form_id }}-time">
    </div>


    <div class="form-field">
        <label for="{{ form_id }}-info">{{ __('Remarques (ex : personnes à mobilité réduite, ...)', 'Non-editable strings') }}</label>
        <textarea name="info" id="{{ form_id }}-info" rows="2"></textarea>
    </div>


    <span class="form-message form-message--succes">{{ __("Merci pour votre demande de réservation ! Nous vous recontacterons afin de confirmer celle-ci.", 'Non-editable strings') }}</span>
    <span class="form-message form-message--failed">{{ __("L'envois à échoué. Veuillez contacter l'hôte du site internet via", 'Non-editable strings') }} "{{ g.phone }}"</span>

    <button aria-label="{{ __('Envoyer', 'Non-editable strings') }}" class="btn btn-primary" type="submit">{% include "assets/static/icons/contact/send.svg" %}</button>

</form>

{% set form_id = empty %}