{% set btn1 = block.btn_1 %}
{% set btn2 = block.btn_2 %}

{% if btn1 or btn2 %}
<div class="btn-group">
    {% if btn_red %}
    <a href="{{ btn1.url }}" target="{{ btn1.target }}" class="btn">{{ btn1.title }}</a>
    {% endif %}
    {% if btn_white %}
    <a href="{{ btn2.url }}" target="{{ btn2.target }}" class="btn">{{ btn2.title }}</a>
    {% endif %}
</div>
{% endif %}