<!doctype html>
<!--[if lt IE 9]><html class="no-js no-svg ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 9]><html class="no-js no-svg ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js no-svg" {{ site.language_attributes }}> <!--<![endif]-->

	{% include 'tpl-parts/head.twig' %}

	<body class="{{ body_class }}" data-template="base.twig">

		{# include 'tpl-parts/header.twig' #}
		{{ fn('insert_header_acf_block') }}

		<main>
			{% block content %}
			<section class="card_list {{ b_prop.className }} {{ bg }} {{ separation }}">
				<div class="wrapper">
					{{ p.content }}
				</div>
			</section>
			{% endblock %}
		</main>

		{{ fn('insert_footer_acf_block') }}
		{# include 'tpl-parts/footer.twig' #}
			

	</body>
</html>