<footer id="footer">

    <div class="wrapper">
        <div>
            <a href="{{site.link}}" class="footer-logo">
                {% include 'assets/static/svg/logo.svg' %}
            </a>
            {% include 'blocks/social-links.twig' %}
        </div>

        {% set footer_links = g.f_link_list %}
        {% if footer_links.t %}
        {% set links = footer_links.links %}
        <div>
            <h2>{{ footer_links.t }}</h2>
            {% if links %}
            <ul class="link-list">
                {% for item in links %}
                {% set link = item.link %}
                <li class="link-list-item">
                    <a target="{{ link.target }}" href="{{ link.url }}">
                    {% include 'static/icons/arrow-right.svg' %}
                        {{ link.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endif %}

        {% set footer_posts = g.f_post_type %}
        {% if footer_posts.t %}
        {% set links = footer_post_type %}
        <div>
            <h2>{{ footer_posts.t }}</h2>
            {% if links %}
            <ul class="link-list">
                {% for post in links %}
                <li class="link-list-item">
                    <a href="{{ post.link }}">
                    {% include 'static/icons/arrow-right.svg' %}
                        {{ post.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endif %}

    </div>
    <div class="wrapper footer-bottom">
        <p>{{ "now"|date('Y') }} © {{ g.name }} - Tous droits réservés</p>
        <p>
            {% set link = g.legal_notice_link %}
            {% if link %}
            <a target="{{ link.target }}" href="{{ link.url }}">{{ link.title }}</a>
            {% endif %}

            {% set link = g.privacy_policy_link %}
            {% if link %}
            <a target="{{ link.target }}" href="{{ link.url }}">{{ link.title }}</a>
            {% endif %}
        </p>
    </div>
</footer>
{{ function('wp_footer') }}